 {
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": "warn",
    "generator-star-spacing":"off",
    "react/prop-types": "off",
    "semi": [
      "error",
      "never"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
