<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva@2</title>
  <link href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
  <link rel="stylesheet" href="index.css" />
</head>
<body>

  <div id="root"></div>

  <script src="index.js"></script>

</body>
</html>
